<h3>User</h3>
<p>Email: <%= @user.email if @user.email %></p>

<h4>Specialties</h4>
<table class="table">
	<tr>
	<th>Project</th>
	<th>Request to follow</th>
	</tr>
	<% @items.each do |item| %>
		<tr>
	      <td><%= item.name %></td>
	      <td><%if item.specialty?(current_user.id) == 0%><button class="btn btn-primary">Request</button><%end %></td>
	    </tr>
	<% end %>
<table>