<p>The goal of this project is to increase the <b>Bus Factor</b> of projects.</p>
<p>The bus factor has been a commonplace term in business management since 1998, and is the total number of key developers that would need to be incapacitated to send the project into disarray.</p>
<p>A higher bus factor benefits the business by improving the stability of projects in unforseen circumstances (such as a developer leaving), but also benefits developers; technical knowledge is shared among all developers, allowing for an even spread of work regardless of items in the sprint, and a better workload when firefighting.
