<h1>News Feed</h1>
<div class="alert">
	TODO: Make this functional
</div>
<div class="input-append">
	<input class="input-xxlarge" id="appendInputButton" placeholder="What are you working on?" type="text">
	<button class="btn" type="button">Submit!</button>
</div>
<br>
<a href="#">obama@whitehouse.gov</a> is working on <a href="#">Member Receipts</a> 1 hour ago<br><br>
<a href="#">walterwhite@lospolloshermanos</a> is working on <a href="#">Contract Sales (CAREweb)</a> 2 hours ago 
<button class="btn btn-mini btn-primary" type="button">Request to follow</button><br><br>
<a href="#">bob@bobthebuilder.com</a> is working on <a href="#">MAAG (CAREweb.NET)</a> yesterday
<button class="btn btn-mini btn-primary" type="button">Request to follow</button><br><br>