<h1>Information</h1>

<a href="#myModal" role="button" class="btn" data-toggle="modal">What is the purpose of this project?</a>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="myModalLabel">Project Purpose</h3>
	</div>
	<div class="modal-body">
		<p>The goal of this project is to increase the <b>Bus Factor</b> of projects.</p>
		<p>The bus factor has been a commonplace term in business management since 1998, and is the total number of key developers that would need to be incapacitated to send the project into disarray.</p>
		<p>A higher bus factor benefits the business by improving the stability of projects in unforseen circumstances (such as a developer leaving), but also benefits developers; technical knowledge is shared among all developers, allowing for an even spread of work regardless of items in the sprint, and a better workload when firefighting.
	</div>
	<div class="modal-footer">
		<button class="butn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<br><br>
<h1>News Feed</h1>
<div class="alert">
	TODO: Make this functional
</div>
<div class="input-append">
	<input class="input-xxlarge" id="appendInputButton" placeholder="What are you working on?" type="text">
	<button class="btn" type="button">Submit!</button>
</div>
<br>
<a href="#">obama@whitehouse.gov</a> is working on <a href="#">Member Receipts</a> 1 hour ago<br><br>
<a href="#">walterwhite@lospolloshermanos</a> is working on <a href="#">Contract Sales (CAREweb)</a> 2 hours ago 
<button class="btn btn-mini btn-primary" type="button">Request to follow</button><br><br>
<a href="#">bob@bobthebuilder.com</a> is working on <a href="#">MAAG (CAREweb.NET)</a> yesterday
<button class="btn btn-mini btn-primary" type="button">Request to follow</button><br><br>